<form action="/actualizarTablaFechas" method="POST" id="formularioFiltroFechas">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 max-width-150">
        <label for="user" class="form-label mt-2"><strong>Fecha inicio</strong></label>
        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" tabindex="1">
      </div>
      <div class="col-sm-2 max-width-150">
        <label for="user" class="form-label mt-2"><strong>Fecha fin</strong></label>
        <input type="date" class="form-control" id="fechaFin" name="fechaFin" tabindex="1">
      </div>
      <div class="col-sm-2 max-width-150">
        <button type="submit" class="btn btn-primary" tabindex="5">Buscar</button>
        <a href="/orden-de-trabajo">Limpiar</a>
      </div>
    </div> 
  </div>
</form>
