<!-- Cartel de confirmar eliminar  orden -->
<div class="modal fade" id="eliminarItem<%=id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Estás seguro que deseas eliminar este item?
        </div>
        <div class="modal-footer">
          <form action="/modificar-stock/delete" method="post">
            <input id="id" name="id" value="<%=id%>" hidden>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-danger" tabindex="5">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>