<!-- Cartel para confirmar terminar una orden -->
<div class="modal fade" id="terminarOrden<%=id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Finalizar orden de trabajo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Estás seguro que deseas dar como finalizada la orden de trabajo?
        </div>
        <div class="modal-footer">
          <form action="/cambiar-estado-enProceso-Terminada" method="post">
            <input id="id" name="id" value="<%=id%>" hidden>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" tabindex="5">Finalizar orden</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>