<!-- NO ESTA EN USOO -->


<!-- Cartel de confirmar finalización de  orden -->
<div class="modal fade" id="crearOrden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
          <div class="container mt-10">     
              <div class="card border-secondary">  
                  <div class="card-header bg-primary text-white">Nueva orden de trabajo</div>
                  <div class="card-body">
                      <form action="/save" method="POST">
                          <div class="mb-3">
                          <label for="user" class="form-label">Tipo</label>
                              <select id="tipo" name="tipo" class="form-select" aria-label="Default select example" tabindex="2">
                                  <option value="One shoot" selected>One shoot</option>
                                  <option value="Periódico">Periódico</option>                    
                              </select>
                          <!-- <label for="user" class="form-label mt-2">Intervalo de tiempo en horas(ESTO DEBERÍA DESAPARECER DEPENDIENDO DE LA OPCIÓN)</label>
                          <input type="text" class="form-control" id="lapso" name="lapso" tabindex="1"> -->
                          <label for="user" class="form-label mt-2">Tarea</label>
                          <input type="text" class="form-control" id="tarea" name="tarea" tabindex="1">
                          <label for="user" class="form-label mt-2">Fecha inicio</label>
                          <input type="date" class="form-control" id="fecha" name="fecha" tabindex="1" step="1">

                          <label for="user" class="form-label mt-2">Activo</label>
                          <input type="text" class="form-control" id="activo" name="activo" tabindex="1">
                          <label for="user" class="form-label mt-2">Responsable</label>
                          <input type="text" class="form-control" id="Responsable" name="Responsable" tabindex="1">
                          <label for="user" class="form-label mt-2">Tiempo esperado en horas</label>
                          <input type="text" class="form-control" id="tiempo_esperado" name="tiempo_esperado" tabindex="1">
                          <label for="user" class="form-label mt-2">Prioridad</label>
                          <select id="Prioridad" name="Prioridad" class="form-select" aria-label="Default select example" tabindex="2">
                              <option value="Alta" selected>Alta</option>
                              <option value="Media">Media</option>
                              <option value="Baja">Baja</option>
                          </select>
                          <label for="user" class="form-label mt-2">Descripción del problema</label>
                          <input type="text" class="form-control" id="descripción" name="descripcion" tabindex="1">
                          </div>   
                          <div class="mb-3">
                          
                          </div>        
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                      </form>
                  </div>
              </div>        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------------------------------------------------------------------------- -->