<!-- Cartel de confirmar eliminar  Activa -->
<div class="modal fade" id="eliminarActivo<%=id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="centrado" style="text-align: center;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que deseas eliminar este activo?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <i class='bx bx-info-circle' style="font-size: 5rem; color:red"></i>
            <h3>ACTIVO: "<%= nombreActivo %>"</h3>
          </div>
        </div>
        <div class="modal-footer">
          <form action="/eliminarActivo" method="post">
            <input id="id" name="id" value="<%=id%>" hidden>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-danger" tabindex="5">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>