<header>
    <!-- <div class="header__superior">
        <div class="logo">
            <img src="img/logo-magtimus-small-v2.png" alt="">
        </div>
        <div class="search">
            <input type="search" placeholder="¿Qué deseas buscar?">
        </div>
    </div> -->

    <div class="container__menu">

        <div class="menu">
            <input type="checkbox" id="check__menu">
            <label for="check__menu" id="label__check">
                <i class="fas fa-bars icon__menu"></i>
            </label>
            <nav>
                <ul>
                    <li><a href="#" id="selected"></a></li>
                    <li><a href="/estadistica2">Estadísticas</a></li>
                    <li><a href="/orden-de-trabajo">Órdenes de trabajo</a>
                        <ul>
                            <li><a href="#">Pendientes</a></li>
                            <li><a href="#">En proceso</a></li>
                            <li><a href="#">Terminadas</a></li>
                        </ul>
                    </li>
                    <li><a href="/terceros">Terceros</a></li>
                    <li><a href="/almacen">Almacen</a></li>
                    <li><a href="/gestion-mantenimiento">Gestión de mantenimiento</a>
                        <ul>
                            <li><a href="#">Tarea restringida 1</a></li>
                            <li><a href="#">Tarea restringida 2</a></li>
                            <li><a href="#">Tarea restringida 3</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</header>