<header>
    <div class="container__menu">

        <div class="menu">
            <input type="checkbox" id="check__menu">
            <label for="check__menu" id="label__check" style="margin-left: 10px;">
                
                <i class='bx bx-menu icon__menu'></i>
            </label>
            <nav>
                <ul>
                    
                    <li style="height: 70px;"">
                        <a href="#titulo" id="selected" style="background-color: white;">
                            <img src="/imagenes/logo2.jpg" alt="Logo">
                        </a>
                    </li>
                    
                        <li><a href="/depositos">Depósitos</a></li>
                        <li>
                            <a href="/envios">Envíos</a>
                        </li>
                        <li><a href="/clientes">Clientes</a></li>
                        <li class="conductores"><a href="/conductores">Conductores</a>
                        </li>
                        <li><a href="/camiones">Camiones</a></li>
                               
                            <li><a href="#">Usuario</a>
                                <ul>
                                    <li><a href="#">Modificar datos personales</a></li>
                                    <li><a href="/cerrarSesion">Cerrar sesión</a></li>
                                </ul>
                            </li>
                </ul>
            </nav>
        </div>


    </div>
</header>