<header>
    <div class="container__menu">

        <div class="menu">
            <input type="checkbox" id="check__menu">
            <label for="check__menu" id="label__check" style="margin-left: 10px;">
                <i class="fas fa-bars icon__menu"></i>
            </label>
            <nav>
                <ul>
                    <li><a href="#" id="selected"></a></li>
                    <% if (login){ %>
                    <li><a href="/estadistica">Panel de control</a></li>
                    <% } %>
                    <li>
                        <% if (login){%>
                            <a href="/orden-de-trabajo">Ordenes de trabajo</a>
                        <%} else {%>
                            <a href="#">Ordenes de trabajo</a>
                        <%}%>
                        <ul>
                            <li><a href="/orden-de-trabajo/pendiente">Pendientes</a></li>
                            
                            <li><a href="/orden-de-trabajo/en-proceso">En proceso</a></li>
                            <li><a href="#">Solicitudes de mantenimiento</a></li>
                           
                            <% if (login){%>
                            <li><a href="/orden-de-trabajo/finalizada">Finalizadas</a></li>
                            <%}%>
                        </ul>
                    </li>
                    <% if (login){ %>
                    <li><a href="/terceros">Terceros</a></li>
                    <li><a href="#">Almacen</a>
                        <ul>
                            <li><a href="/almacen/activos">Activos</a></li>
                            <li><a href="/almacen/stock">Stock</a></li>
                        </ul>
                    </li>
                    
                    <li class="gestion_mantenimiento"><a href="#">Gestión de mantenimiento</a>
                        <ul>
                            <li><a href="/orden-de-trabajo/generar-orden">Nueva orden de trabajo</a></li>
                            <li><a href="/modificar-stock">Modificar stock</a></li>
                            <li><a href="/modificar-activos">Modificar activo</a></li>
                            <li><a href="/ordenes-solicitadas">Órdenes Solicitadas</a></li>
                        </ul>
                    </li>
                    <% } %>
                    <li><a href="#">Usuario</a>
                        <ul>
                            
                                
                            <li><a href="/newPassword">Modificar datos personales</a></li>
                            <li><a href="/cerrarSesion">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        

    </div>
</header>



