<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estadistica.css">
    <title>Administración de usuario</title>
    <%- include('partes/header.ejs') %>
</head>
<body>
    <div id="menu">
        <%- include('partes/navegacion.ejs', {login}) %>
    </div>
    <main>
        
    </main>
    <script src="/inicio_sesion.js"></script>
    <script src="/actualizarPagina.js"></script>
</body>
</html>