<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAMIONES</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <%- include('partes/header.ejs') %>
</head>

<body>
    <div id="menu">
        <%- include('partes/navegacion.ejs') %>
    </div>
    
    <main id="mainEstadistica">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">  
                    <div class="card h-100"></div>
                        <div id="titulo-container" style="padding-top: 5px; padding-right: 0px;">
                            <div id="titulo" style="color: black;">CAMIONES</div>
                        </div>
                </div>
            </div>

        </div>
    </main>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>
