<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partes/header.ejs') %>
    <title>GESTIÓN DE MANTENIMIENTO</title>
</head>
<body>
    <%- include('partes/navegacion.ejs') %>
    <main>
        <h1>GESTIÓN DE MANTENIMIENTO</h1>
    </main>
</body>
</html>